<div class="comment rounded">
  <%= gravatar_for comment %>
  <p class="status">
	<%= link_to h(comment.code.slug_name), code_by_slug_path(comment.code.slug_name), :class => 'gem' %>
	is <%= opinion_for comment %><br />
	for <%= name_link_for comment %> <span class="lighterblue">(<%= comment.platform %>)</span><br />
	<%= "&ldquo;#{h comment.body}&rdquo;" if local_assigns[:show_quote] %>
	</p>
</div>
