<% div_for failed_comment, :class => 'failed rounded' do %>
	<%= gravatar_for failed_comment %>
	
	<p class="status">
	  <strong><%= link_to h(failed_comment.code.slug_name), code_by_slug_path(failed_comment.code.slug_name) %></strong>
	is <span class="fails">Failing</span><br />
	for <%= name_link_for failed_comment %> <span class="lighterblue">(<%= failed_comment.platform %>)</span><br />


  <% unless failed_comment.body.blank? %>
    &ldquo;<%= h truncate(failed_comment.body,40) %> &rdquo;
  <% end %>
	</p>

<% end %>