<% form_for [code, @comment] do | form | %>
  <%= error_messages_for :comment %>
  <ul>
    <li> <%= form.check_box :works_for_me %> <%= form.label :works_for_me %> </li>
    <li> <%= form.label :body, "Comments: " %> <br/> <%= form.text_area :body, :rows => 3 %> </li>
    <li> <%= form.label :platform_id %> <br/> <%= form.collection_select :platform_id, Platform.all, :id, :name %> </li>
    <li> <%= form.label :name %> <br/> <%= form.text_field :name %> </li>
    <li> <%= form.label :url %> <br/> <%= form.text_field :url %> </li>
    <li> <%= submit_tag 'Submit &rarr;', :disable_with => 'submitting...' %></li>
<% end %>