<% div_for working_comment, :class => 'working rounded' do %>
  <%= gravatar_for working_comment %>

  <p class="status">
	  <strong><%= link_to h(working_comment.code.slug_name), code_by_slug_path(working_comment.code.slug_name) %></strong>
	is <span class="works">Working</span><br />
	for <%= name_link_for working_comment %> <span class="lighterblue">(<%= working_comment.platform %>)</span><br />

	
  <% unless working_comment.body.blank? %>
    &ldquo;<%= h truncate(working_comment.body,40) %> &rdquo;
  <% end %>
	</p>
<% end %>