<h1 class="code-title"><%= homepage_link_for @code %></h1>

<p>
  <%= large_working_icon_for @code %>
</p>

<p class="description">
  <%= h @code.description %>
</p>

<p class="authors">
  <%= h @code.author_names %>
</p>

<p><%= link_to_function 'add a comment &rarr;', visual_effect(:toggle_blind, 'new-comment-form') %> </p>
<div id="new-comment-form" <%= show_comment_form_for(@comment) %>>
  <%= render :partial => 'comments/new', :locals => { :code => @code } %>
</div>


<%= render :partial => 'comments/comment', :collection => @code.comments %>

