<h1 class="code_title"><%= @code.name %></h1>

<dl>
  <dt>URL</dt>
  <dd><%= homepage_link_for @code %> </dd>
  <dt>Author(s)</dt>
  <dd><%= author_links(@code.authors) %></dd>
  <dt>Summary</dt>
  <dd><%= @code.description_or_summary %></dd>
</dl>

<p><a href="#newcomment">Add your comment &darr;</a></p>
<h2>Comments</h2>
<%= render :partial => 'comments/comment', :collection => @code.comments, :locals => { :show_quote => true } %>

<div id="new-comment-form">
  <%= render :partial => 'comments/new', :locals => { :code => @code } %>
</div>

<% content_for :alternative_rss_feed do %>
  <link rel="alternate" href="<%= code_by_slug_with_format_path(@code.slug_name, :rss) %>" title="Latest comments about <%= h(@code.name) %>" type="application/rss+xml" /> 
<% end %>